.text-shine {
  -webkit-mask-image: linear-gradient(
    -75deg,
    #000 30%,
    rgba(0, 0, 0, 0.6) 50%,
    #000 70%
  );
  -webkit-mask-size: 200%;
  animation: shine 2s infinite;
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}
